*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/*
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# MySQL workbench
*.bak

out

# tmp
*~
*~*

!lib/sql2o*
!.idea/libraries