.rotate-tab .tab .tab-label {
    -fx-rotate: 90;
	

}
 /** The following is a little bit hackish....*/
.rotate-tab .tab {
    -fx-padding: 2em -2em 2em -2em;    
}

.tab-pane .tab {
	-fx-background-insets: 0 1 0 1,0,0;
	-fx-background-color: #e6e6e6;
 	-fx-border-radius: 4 4 0 0;
  	-fx-background-radius: 4 4 0 0;
}


.tool-bar {
    -fx-border-radius: 10 10 10 10;
}

.tab-pane.rotate-tab {
    -fx-tab-min-width: 100px;
    -fx-tab-max-width: 100px;
    -fx-tab-min-height: 100px;
    -fx-tab-max-height: 120px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #E21737;
}


.h1 {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.h3 {
    -fx-font-size: 13px;
}

